altair==4.2.2
beautifulsoup4==4.13.4
deep_translator==1.11.4
pandas==2.3.1
pdfminer_six==20250506
Requests==2.32.4
st_supabase_connection==2.0.0
streamlit==1.38.0
streamlit_antd_components==0.3.2
streamlit_scroll_to_top==0.0.4
supabase==2.17.0
