/data-app
/sku-app
/csv
/scrape codes
/v2/output
/scrape images
/old
/html
/products
/backup
/v4/.streamlit/secrets.toml
/v5/.streamlit/secrets.toml
/v6/.streamlit/secrets.toml
/sandbox.py
/updated_file.xlsx
/update descriptions
/sandbox 2.py
/new images for web and amazon